body{
    width: auto;
    min-width: 203px;
    overflow-y: scroll;
    max-height: 90vh;
}

#btn, .section > select {
    margin-right: 10px;
}

.section > input{
    margin: 0 0 10px;
}

.section{
    padding: 5px;
    margin: 10px;
}

#helper-text{
    color: #017c86;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

label {
    color: #017c86;
}

select, #btn-inject{
    width: 100%;
}

input {
    min-width: calc(100% - 8px);
}

#log{
    font-variant: all-petite-caps;
    white-space: pre;
    overflow-y: scroll;
    font-size: large;
}

.hidden {
    display: none;
}

input:invalid {
    border: 2px dashed red;
  }

  #reloadAll{
      margin: 0 auto;
      width: 100%;
  }

  #btn{
      width: calc(100% - 30px)
  }

  #note {
      font-style: italic;
      text-align: center;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trackedTabs{
    width: 300px;
}

#trackedTabs > div {
    padding-right: 10px;
    margin-bottom: 5px;
}

i {
    background: black;
    border-radius: 4px;
    padding: 5px;
    color: white;
}

i:hover{
    background: #017c86;
    cursor: pointer;
}

.gray{
    background: lightgray;
}